#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: black;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: animloader 2s linear infinite;
}

@keyframes animloader {
	0% {
		box-shadow: -72px 0 #fff inset;
	}

	100% {
		box-shadow: 48px 0 #fff inset;
	}
}