nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	background: black;
	border-bottom: 1px solid var(--primary-color);
	z-index: 2;
}

.nav-item {
	padding: 1rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.nav-link {
	color: white;
	text-decoration: none;
	margin: 0 1rem;
	transition: color 300ms;
}

.nav-link:hover,
.mobile-link:hover {
	color: var(--primary-color);
}

.nav-brand-icon {
	margin: 6px 0 0 0;
}

.nav-brand-link {
	margin: 0;
}

#moon-icon {
	transition: transform 300ms;
}

#moon-icon:hover {
	transform: scale(1.1);
}

#mobile-nav {
	background: black;
	display: none;
	position: fixed;
	right: -100%;
	top: 4rem;
	z-index: 40;
	border: 1px solid var(--primary-color);
	border-bottom-left-radius: var(--border-radius);
}

.mobile-links {
	display: flex;
	list-style: none;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1rem;
	height: 100%;
}

.mobile-link {
	font-size: 1.5rem;
	color: white;
}

#hamburger {
	display: none;
	height: 3rem;
	margin-right: var(--spacing-xs);
	cursor: pointer;
}

@media only screen and (max-width: 1240px) {
	#desktop-nav {
		display: none;
	}

	#mobile-nav,
	#hamburger {
		display: block;
	}
}