.section-title {
	margin: var(--spacing-l) 0;
	max-width: var(--max-width);
	background: var(--darken-background);
	padding: 0 1rem;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	border-bottom: 1px solid var(--primary-color);
}

.intro-container {
	float: left;
	padding: var(--spacing-m);
	margin-bottom: var(--spacing-m);
	width: calc(95% - var(--spacing-l));
	max-width: var(--max-width);
	background: var(--darken-background);
	border-radius: var(--border-radius);
}

.intro-copy {
	display: grid;
	gap: var(--spacing-s);
}

.intro-content {
	text-align: justify;
}

.sahba-img {
	display: inline;
	width: 100%;
	max-width: 20rem;
	margin: 0 2rem 2rem 0;
	object-fit: cover;
	float: left;
	border-radius: var(--border-radius);
}

@media only screen and (max-width: 720px) {
	.intro-content {
		display: block;
		margin: auto;
	}

	.sahba-img {
		display: block;
		margin: auto;
		padding-bottom: 2rem;
		float: none;
	}

	.intro-container {
		float: none;
		margin: 0 auto var(--spacing-m);
	}
	}