@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
	--spacing-s: 1.25rem;
	--spacing-m: 2.5rem;
	--border-radius: 100px;
	--primary-color: #35ffee;
	--secondary-color: #46ff35;
 	color: white;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Space Mono", monospace;
	overflow-x: hidden;
}

.webgl {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -5;
	height: 100%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	background: black;

}

.nav-links{
	display: flex;
	flex-direction: row;
	list-style: none;
	
}

.nav-link{
	color: white;
	text-decoration: none;
	margin: 0 1rem;
	transition: color 300ms;
}

.nav-link:hover{
	color: var(--primary-color)
}

nav, footer {
	
	width: 100%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  	align-items: center;
	z-index: 2;
}

.nav-item, .footer-item{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

section {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 2.5rem;
	background: rgb(0, 0, 0);
	color: white;
	padding: 2.5rem;
	border-radius: var(--border-radius);
}

a{
	color: var(--primary-color);
	text-decoration: none;
	transition: color 300ms;
}

a:hover{
	color: var(--secondary-color)
}

/* prettier-ignore */
.intro-container{
  float: left; 
  padding: 0 20px 20px 0;
  padding: 2rem;
  width: 95%;
  max-width: 1200px;  
  background: rgba(0, 0, 0, 0.806);
}

.intro-content{
  display: inline;
}

.sahba-img{
  display: inline;
  width: 100%;
  max-width: 20rem;
  margin: 0 2rem 2rem 0;
  object-fit: cover;
  float: inherit;
}




@media screen and (max-width: 600px) {
	.intro-content{
		display: block;
		margin: auto;
	}

	.sahba-img{
		display: block;
		margin: auto;
		padding-bottom: 2rem;
	}
	.intro-container{
		float: none;
		margin: 0 auto;
	}
	
}