@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
	--spacing-xs: 0.5rem;
	--spacing-s: 1rem;
	--spacing-m: 2rem;
	--border-radius: 100px;
	--primary-color: #35ffee;
	--secondary-color: #adea93;
	--darken-background: rgba(0, 0, 0, 0.8);
	--max-width: 1200px;
	--border-radius: 1rem;
}
html {
	font-size: 18px;
	color: white;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p,
li {
	font-size: 1rem;
}

small {
	color: #9e9e9e;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Space Mono", monospace;
	overflow-x: hidden;
}

.webgl {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -5;
	height: 100%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.nav-link {
	color: white;
	text-decoration: none;
	margin: 0 1rem;
	transition: color 300ms;
}

.nav-link:hover {
	color: var(--primary-color);
}

nav,
footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	margin-top: auto;
}

.nav-item,
.footer-item {
	padding: 1rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

#hero {
	justify-content: center;
}

#leadership {
	background: black;
}

.section-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-s);
	height: 100%;
	width: calc(95% - 3rem);
	max-width: var(--max-width);
	border-radius: var(--border-radius);
	padding: var(--spacing-s);
	background: var(--darken-background);
}

.title {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: var(--spacing-s);
	border-radius: 4rem;
	color: white;
}

#pointer {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	font-size: 1.5rem;
	font-family: sans-serif;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 300ms;
}

a:hover {
	color: var(--secondary-color);
}

.intro-container {
	float: left;
	padding: 2rem;
	width: calc(95% - 3rem);
	max-width: var(--max-width);
	background: var(--darken-background);
}

.sahba-img {
	display: inline;
	width: 100%;
	max-width: 20rem;
	margin: 0 2rem 2rem 0;
	object-fit: cover;
	float: inherit;
}

.section-title {
	margin: 4rem;
	max-width: var(--max-width);
	background: var(--darken-background);
	padding: 0 1rem;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	border-bottom: 1px solid var(--primary-color);
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	justify-content: center;
	align-items: center;
	width: 95%;
	max-width: var(--max-width);
}

.interview-card-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
	justify-content: center;
	align-items: center;
	width: 95%;
	max-width: var(--max-width);
}

.card {
	background: var(--darken-background);
	padding: 1rem;
	border-radius: var(--border-radius);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card.interview {
	max-width: 20rem;
	margin: 0 auto;
}

.card-top {
	border-bottom: 1px solid var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7rem;
}

div.card-top:has(img.int-img) {
	min-height: 0;
	height: auto;
	overflow: hidden;
}
.card-top > img {
	width: 100%;
	object-fit: cover;
}

.card-body {
	margin-top: auto;
}

.research-item > small {
	display: block;
	margin-top: var(--spacing-xs);
}

.rg-btn {
	width: 100%;
	padding: var(--spacing-s);
	font-family: inherit;
	background: var(--primary-color);
	border-radius: var(--border-radius);
	text-align: center;
	color: black;
	transition: all 300ms;
}

.rg-btn:hover {
	background: white;
	color: black;
}

.lecture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: min-content;
	margin: 0 auto;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	margin-bottom: var(--spacing-m);
	gap: var(--spacing-m);
	padding: var(--spacing-s);
	border-radius: var(--border-radius);
}

.testimonial {
	background-color: transparent;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.quote {
	color: var(--primary-color);
}

.quote:nth-of-type(even) {
	margin-left: auto;
}

@media only screen and (max-width: 1240px) {
	html {
		font-size: 16px;
	}
	.card-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.nav-links {
		display: none;
	}

	#leadership {
		padding-bottom: var(--spacing-m);
	}
}

@media only screen and (max-width: 960px) {
	html {
		font-size: 14px;
	}
	.card-container {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 720px) {
	.intro-content {
		display: block;
		margin: auto;
	}

	.sahba-img {
		display: block;
		margin: auto;
		padding-bottom: 2rem;
	}
	.intro-container {
		float: none;
		margin: 0 auto;
	}
	.lecture {
		/* margin: 0; */
		min-width: calc(95% - var(--spacing-s));
	}
	.lecture > iframe {
		display: none;
	}
}
